$primary-color: #1a1a1a;
$secondary-color: #a3a3a3;
$secondary_2-color: #3d3a3a;
$font-primary-color: #e6e6e6;

$primary-color-light: #797979;
$secondary-color: #a3a3a3;
$background-color: #434242;
$text-color: #e6e6e6;

$error_color: #FF0000;