<div class="gridGroup">
  <table *ngIf="!loading">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Imagen</th>
        <th>Tipo</th>
        <th>Ataque</th>
        <th>Defensa</th>
        <th>Salud</th>
        <th class="customSize01">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pokemonFilter">
        <td class="leftColumn">{{ item.name }}</td>
        <td class="centerColumn">
          <img [src]="item.image" [alt]="'Imagen del pokemon ' + item.name" width="50" height="50" />
        </td>
        <td class="leftColumn">{{ item.type }}</td>
        <td class="rightColumn">{{ item.attack }}</td>
        <td class="rightColumn">{{ item.defense }}</td>
        <td class="rightColumn">{{ item.hp }}</td>
        <td class="centerColumn">
          <div class="actionColumn">
            <app-custom-button [idRole]="buttonRole.Edit" type="button" label="" (click)="onEdit(item.id)"
              class="button-noBackground" />
            <app-custom-button [idRole]="buttonRole.Delete" type="button" label="" (click)="onDelete(item.id)"
              class="button-noBackground" />
          </div>
        </td>
      </tr>
      <tr *ngIf="!pokemonFilter.length" class="emptyData">
        <td colspan="7" [class.errorText]="errorMessage !== ''">
          {{
          errorMessage === ''
          ? 'No existen registros'
          : 'Error: ' + errorMessage
          }}
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="loading">
    <h2>Cargando información de pokemons...</h2>
  </div>
</div>