.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: 100%;
    max-width: 800px;
    padding: 20px;

    .toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      margin-bottom: 20px;
    }

    .grid {
      margin-bottom: 20px;
    }
  }
}
